* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
a {
  text-decoration: none;
  color: #2b6cb0;
}

body {
  background-color: rgb(211, 211, 211);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
